.banner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 750px;
    display: grid;
    color: #fff;
    justify-items: center;
    transform: translate(-50%, -50%);
    display: none;

    .banner-heading {
        font-size: 5em;
        margin-bottom: 80px;
        text-transform: uppercase;
        border-top: 7px solid #fff;
        border-bottom: 7px solid #fff;
        font-family: $base-font
    }

    .arrow {
        font-size: 3.125em;
        margin-bottom: 30px;
        animation: animate-arrow 2.5s infinite;
    }

    .banner-btn {
        width: 120px;
        padding: 15px;
        color: #fff;
        font-size: 1.2em;
        text-align: center;
        border-radius: 50px;
        letter-spacing: 1px;
        text-decoration: none;
        font-family: $base-font;
        text-transform: uppercase;
        border: 2px solid #fff;
        background-color: transparent;
        transition: transform .3s;

        &:hover {
            transform: translateY(-1px)
        }
    }
}

@keyframes animate-arrow {
    0% {
        transform: translateY(0)
    }

    20% {
        transform: translateY(0)
    }

    40% {
        transform: translateY(-30px)
    }

    50% {
        transform: translateY(0)
    }

    60% {
        transform: translateY(-15px)
    }

    80% {
        transform: translateY(0)
    }

    100% {
        transform: translateY(0)
    }
}