// Imports
@import url('https://fonts.googleapis.com/css?family=Raleway');


/* ==========================================================================
                                 Variables
   ========================================================================== */
$primary-color: #00ffc4;
$body-bg : #1a1b1d;
$bg-color: green;

/* ==========================================================================
                                 Main
   ========================================================================== */
body {
    background-color: $body-bg;
}

/* ==========================================================================
                                 Nav
   ========================================================================== */

.navbar {
    width: 100% !important;

    @media(max-width: 34em) {
        background-color: #000 !important;
    }


    #logo {
        color: $primary-color !important;
    }


    .nav-link {
        font-weight: bold;
        text-transform: uppercase;
        color: $primary-color !important;
    }

}