@import url("https://fonts.googleapis.com/css?family=Raleway");
/* ==========================================================================
                                 Variables
   ========================================================================== */
/* ==========================================================================
                                 Main
   ========================================================================== */
body {
  background-color: #1a1b1d; }

/* ==========================================================================
                                 Nav
   ========================================================================== */
.navbar {
  width: 100% !important; }
  @media (max-width: 34em) {
    .navbar {
      background-color: #000 !important; } }
  .navbar #logo {
    color: #00ffc4 !important; }
  .navbar .nav-link {
    font-weight: bold;
    text-transform: uppercase;
    color: #00ffc4 !important; }
